In [1]:
import xarray as xr

In [21]:
root = '/network/group/aopp/predict/TIP016_PAXTON_RPSPEEDY/ML4L/ECMWF_files/raw/' 
veg_path = f'{root}climate.v020/climate.v020/639l_2/sfc'

In [22]:
import glob

In [23]:
ds= xr.open_dataset(veg_path,engine='cfgrib',backend_kwargs={'indexpath': ''},filter_by_keys={'shortName': 'tvl'})
ds =  ds.assign_coords({"longitude": (((ds.longitude + 180) % 360) - 180)}) #long3 ---> long1
df = ds.to_dataframe().reset_index()

In [24]:
df

,values,time,step,surface,latitude,longitude,valid_time,tvl
0,0,1996-01-01,0 days,0.0,89.784877,0.0,1996-01-01,0.0
1,1,1996-01-01,0 days,0.0,89.784877,20.0,1996-01-01,0.0
2,2,1996-01-01,0 days,0.0,89.784877,40.0,1996-01-01,0.0
3,3,1996-01-01,0 days,0.0,89.784877,60.0,1996-01-01,0.0
4,4,1996-01-01,0 days,0.0,89.784877,80.0,1996-01-01,0.0
...,...,...,...,...,...,...,...,...
542075,542075,1996-01-01,0 days,0.0,-89.784877,-100.0,1996-01-01,0.0
542076,542076,1996-01-01,0 days,0.0,-89.784877,-80.0,1996-01-01,0.0
542077,542077,1996-01-01,0 days,0.0,-89.784877,-60.0,1996-01-01,0.0
542078,542078,1996-01-01,0 days,0.0,-89.784877,-40.0,1996-01-01,0.0
542079,542079,1996-01-01,0 days,0.0,-89.784877,-20.0,1996-01-01,0.0

In [25]:
lat = -29.367671674745356
lon  = 139.6875

In [26]:
df.query(f'latitude == {lat} & longitude == {lon}')

,values,time,step,surface,latitude,longitude,valid_time,tvl
402072,402072,1996-01-01,0 days,0.0,-29.367672,139.6875,1996-01-01,2.0